<launch>

  <node pkg ="my_robot"
        type="record_odom_action_server.py"
        name="record_odom_action_server_node"
        output="screen">
  </node>
  
  <node pkg ="my_robot"
        type="crash_direction_service_server.py"
        name="crash_direction_service_server"
        output="screen">
  </node>

  <node pkg ="my_robot"
        type="sphero_main.py"
        name="sphero_main_node"
        output="screen">
  </node>


</launch>

